.commentButton {
    background:none!important; 
    color:inherit; 
    border:none;
    padding:0!important; 
    font: inherit; 
    cursor: pointer;
}
.likeButton {
    width:40ppx;
    background:url(/static/images/hearted.png) no-repeat center left;; 
    color:inherit; 
    border:none;
    padding:0!important; 
    font: inherit; 
    cursor: pointer;
    background-size: 21px;
}
.unlikeButton {
    width:40ppx;
    background:url(/static/images/heart3.png) no-repeat center left;; 
    color:inherit; 
    border:none;
    padding:0!important; 
    font: inherit; 
    cursor: pointer;
    background-size: 21px;

}
.container {

    display: flex !important;
    flex-flow: column !important;
    height: auto !important;
}
.titleInput {
    margin: 5px;
    width: -webkit-fill-available;
    height: 25%;
    border: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 4px;
    overflow-x: hidden;
    resize:none;
}
.bodyInput {
    margin-top:10px;
    margin-right: 5px;
    margin-left: 5px;
    width: -webkit-fill-available;
    height: 400px;
    border: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 4px;
    overflow-x: hidden;
    resize:none;
}
.publishSubmit {
    margin-right:5px !important;
    float:right !important;
}
.commentSubmit{
    margin-top:5px;
    float:right !important;
}
.comments {
    margin-left: 40px;
    display: inline-block;
}
.replies {
    display: inline-block;
}
.replySubmit{
    margin-top:5px;
    margin-bottom: 5px;
    float:right !important;
}
.addReply{
    width: 100%;
    display:none; 
    float:right
}
.addComment{
    width: 100%;
    display:none; 
    float:right
}
.table{
    margin-bottom: 0;
    width: -webkit-fill-available;
}
.post {
    border: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    height: auto;
}
.replyClick {
    float: left;
}
.commentClick {
    float: right;
}
.table>tbody>tr>td {
    border-top: 0px !important;
}
.blackLink {
    color: black;
}
.elapsedTime {
    vertical-align: middle !important;
    width:50px;
}
.postImages {
    width: -webkit-fill-available;
}
.file{
  display:block;
  width: 30px;
  height: 30px;
  background: url(/static/images/upload2.png) no-repeat center center;
  background-size: cover;
}

.file input{
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.innerTable{
    margin-bottom: 2px;
    width: -webkit-fill-available;
}
.profileImage {
    height: 40px;
    width: 40px;
}
.userTemplateProfileImage{
    height: 256 !important;
    width: 256 !important;
}
.removeUnderline {
    text-decoration: none !important;
}