<script type="text/javascript">
    function toggle_reply(id) {
        var reply = document.getElementById(id);
        reply.style.display = 'block';
    }
</script>
<table id="{{comment.id}}" class="table ">
    <tr>
        <td width="10px">
            <a class="comments removeUnderline" href="{{ url_for('user', username=comment.author.username) }}">
                {% if comment.author.image_path %}
                <img width="30px" src={{comment.author.image_path}} class="img-circle profileImage"> {% else %}
                <img src="{{comment.author.avatar(30) }}" class="img-circle profileImage"> {% endif %}
            </a>
        </td>
        <td>
            <table class="innerTable">
                <tr>
                    <td>
                        <a class="removeUnderline" href="{{ url_for('user', username=comment.author.username) }}">
                            @{{ comment.author.username }}
                        </a>
                        {{moment(comment.timestamp).format('LLL') }}
                    </td>
                </tr>
                <tr>
                    <td>{{ comment.body }}</td>
                </tr>
                <tr>
                    <td>
                        {% for reply in comment.replies %} {% include '_replies.html' %} {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <a class="replyFormAppear blackLink removeUnderline" href="#{{comment.id}}" onclick="toggle_visibility('{{comment.id}}');">
                            <img width="20px" src="/static/images/reply2.jpg"> Reply
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id={{comment.id}} class="addReply">
                            <form action="" method="post" novalidate>
                                {{ replyForm.csrf_token() }} {{ replyForm.reply(class_="replyBox form-control textarea.form-control") }} {{ replyForm.submit(class_="replySubmit
                                btn-default btn")}} {{ replyForm.commentId(value = comment.id) }}
                            </form>
                        </div>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>