<table class="table table-hove">
    <tr>
        <td id="time" valign="bottom !important">
            {{moment(post.timestamp).fromNow()}}
        </td>
        <td>

            <h2>
                <a style="font: #000000 !important" href="{{ url_for('post', id=post.id) }}">
                    {{post.title}}</a>
            </h2>

            <a href="{{ url_for('user', username=post.author.username) }}">
                <img style="margin:2px !important;" src="{{ post.author.avatar(30) }}" />
            </a>
            by
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}</a>
            <img width="15px" src="/static/images/clock.png"> {{moment(post.timestamp).format('LLL') }}
            <img width="15px" src="/static/images/comment.png"> {{post.number_of_comments}}
        </td>
    </tr>
</table>