<table class="table table-hove">
    <tr>
        <td>
            <table class="table">
                <tr>
                    <td>
                        <h2>
                            <a class="blackLink removeUnderline" href="{{ url_for( 'post', id=post.id) }} ">
                                {{post.title}}</a>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td onclick="{{ url_for( 'post', id=post.id) }} ">
                        <a href="{{ url_for( 'user', username=post.author.username) }} ">
                            {% if post.author.image_path %}
                            <img width="30px" src={{post.author.image_path}} class="img-circle profileImage"> {% else %}
                            <img src="{{post.author.avatar(30) }}" class="img-circle profileImage"> {% endif %}
                        </a>
                        <a class="removeUnderline" href="{{ url_for( 'user', username=post.author.username) }} ">
                            {{ post.author.username }}</a>
                        <img width="15px " class="statImages" src="/static/images/clock.png "> {{moment(post.timestamp).format('LLL') }}
                        <img width="20px" class="statImages" src="/static/images/views.png"> {{post.views}}
                        <img width="15px " style="margin-bottom:2px" src="/static/images/comment.png "> {{post.number_of_comments}}
                        <img width="18px " class="statImages" src="/static/images/heart3.png "> {{post.likes}}
                    </td>
                </tr>
                <tr>
                    {% if post.image_path %}
                    <td>
                        <a class="blackLink" href="{{ url_for( 'post', id=post.id) }} ">
                            <img src={{post.image_path}} class="img-rounded postImages">
                        </a>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <h3>{{post.summary}}</h3>
                    </td>
                </tr>
            </table>

        </td>


    </tr>
</table>