<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        e.style.display = 'block';
        var e = document.getElementById("reply");
        e.style.display = 'none';
    }
</script>
<table class="innerTable">
    <tr>
        <td>
            <a class="comments" href="{{ url_for('user', username=comment.author.username) }}">
                <img src="{{ comment.author.avatar(30) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=comment.author.username) }}">
                {{ comment.author.username }}
            </a>
            {{moment(comment.timestamp).format('LLL') }}
            <br> {{ comment.body }} {% for reply in comment.replies %} {% include '_replies.html' %} {% endfor %}
            <div id="addComment" class="addComment">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }} {{ form.comment(class_="commentBox form-control textarea.form-control") }} {{ form.submit(class_="commentSubmit
                    btn-default btn")}}
                </form>
        </td>
    </tr>
</table>