<table class="table">
    <tr>
        <td width="10px">
            <a class="replies" href="{{ url_for('user', username=reply.author.username) }}">
                {% if post.author.image_path %}
                <img width="30px" src={{post.author.image_path}} class="img-circle profileImage"> {% else %}
                <img src="{{post.author.avatar(30) }}" class="img-circle profileImage"> {% endif %}
            </a>
        </td>
        <td>
            <table class="innerTable">
                <tr>
                    <td>
                        <a class="removeUnderline" href="{{ url_for('user', username=reply.author.username) }}">
                            {{ reply.author.username }}
                        </a>
                        {{moment(reply.timestamp).format('LLL') }}
                    </td>
                </tr>
                <tr>
                    <td>{{ reply.body }}</td>
                </tr>
            </table>

        </td>
    </tr>

</table>